<div class="menu">
    <ul>
        <li>
            <a href="/message/list">
                <script>ml('list')</script>
            </a>
        </li>
        <li>
            <a href="/message/sent">
                <script>ml('sent')</script>
            </a>
        </li>
        <li>
            <a href="/message/send">
                <script>ml('send')</script>
            </a>
        </li>
    </ul>
</div>
