<h1>Message Send</h1>
<form class='message-send'>
    <fieldset>
        <legend>Message Send</legend>
        <input type="hidden" name="mode" value="submit">
        {{ html.input({'type':'text','name':'receiver', 'id':'message-receiver', 'class':'receiver', 'label':'Recipient', 'placeholder':'Input Recipient', 'value':data.input.receiver}) }}
        {{ html.input({'type':'text','name':'title', 'id':'message-title', 'class':'title', 'label':'Title', 'placeholder':'Input Title'}) }}
        {{ html.textarea({'name':'content', 'id':'message-content', 'class':'content', 'label':'Content', 'placeholder':'Input Content'}) }}
        <input type="submit">
    </fieldset>
</form>
