{#
Need to get what page the user is currently in for the selected class of "li"
#}
<div class="menu">
    <ul>
        <li class='selected'>
            <a href="/message/list">
                <script>ml('list')</script>
            </a>
        </li><li>
            <a href="/message/sent">
                <script>ml('sent')</script>
            </a>
        </li><li>
            <a href="/message/send">
                <script>ml('send')</script>
            </a>
        </li>
    </ul>
</div>
