{#
Need to get what page the user is currently in for the selected class of "li"
#}
{% if data.page == 'view' %}
	{% set self_id =  data.member.id %}
	{% set send_id =  data.message.send_id.target_id %}
{% endif %}

<div class='menu-wrapper clearfix'>
	<div class="menu clearfix">
		<table cellpadding=0 cellspacing=0 width='100%'>
			<tr>
				<td>
					{#if the member_id is not equal to send_id ( sender ) then it is inbox #}
					<a class='menu-item{{data.page == 'list' or ( data.page == 'view' and self_id != send_id ) ? " selected"}}' href="/message/list">
						<script>ml('list')</script>
					</a>
				</td>
				<td>
					<a class='menu-item{{data.page == 'unread' ? " selected"}}' href="/message/unread">
						<script>ml('unread')</script>
					</a>
				</td>
				<td>
					{#if the member_id is equal to send_id ( sender ) then it is sent #}
					<a class='menu-item{{data.page == 'sent' or ( data.page == 'view' and self_id == send_id )  ? " selected"}}' href="/message/sent">
						<script>ml('sent')</script>
					</a>
				</td>
			</tr>
		</table>
		<a href='/message/send' class='new-message'>New message</a>
	</div>	
	<div class='message-search'>
		{# action should be list or sent depending on page. to do later#}
		<form  action='/message/list'>
			<div class='buttons'>
				<input type='submit' value='Search'><span class='clear'>Clear</span>
			</div>
			<div class='text-wrapper'>				
				<input type='text' name='keyword' placeholder="Search Message...">
			</div>			
		</form>
	</div>
	<div class='message-commands clearfix'>
		{% if data.page_type != 'view' %}
		<span class='checkbox-wrapper'><input type='checkbox'></span>
		{% endif %}
		
		{% if data.page == 'view' %}
			<a href = "/message/delete?id={{ data.message.id.value }}" class='delete'><img src='/modules/message/img/trash.png'/></a>
		{% else %}
			<form action='/message/delete'>
				<input type='hidden' name='ids' value="">
				<input type='image' src='/modules/message/img/trash.png' class='delete'>
			</form>
		{% endif %}
		
		{% if data.page_type == 'view' %}
			<span class='report'><img src='/modules/message/img/report.png'/>Report</span>
		{% else %}
			<span>Mark as Read</span>
		{% endif %}
		<a href='/message/send' class='new-message'>New message</a>
	</div>
</div>