<div class='send-wrapper'>
	<form class='message-send' method="post">
		<fieldset>
			{#<legend>Message Send</legend>#}			
			<input type="hidden" name="mode" value="submit">
			<input type='hidden' name='fid'>
			<input type='hidden' name='action'>
			{{ html.input({'type':'text','name':'receiver', 'id':'message-receiver', 'class':'receiver', 'label':'To:', 'placeholder':'Input Recipient', 'value':data.input.receiver}) }}
			{{ html.input({'type':'text','name':'title', 'id':'message-title', 'class':'title', 'label':'Subject:', 'placeholder':'Input Title'}) }}
			{{ html.textarea({'name':'content', 'id':'message-content', 'class':'content', 'label':'Content', 'placeholder':'Input Content'}) }}		
			<div class='message-uploaded-files clearfix'>
				
			</div>
			<div class='buttons clearfix'>
				<span class='file-upload'>
					<span class='ajax-file-upload-progress-bar'>
						<span class='bar'></span>
						<span class='percent caption'></span>
					</span>
					{#<img class='loader' src='/modules/message/img/loader3.gif'/>#}
					<input type='file' name='files[]' multiple onchange="jQuery(this).parent().parent().parent().submit();">
					<span class='text'><img src='/modules/message/img/attach.png'/>Add Files</span>
				</span>
				<div class='send-button-wrapper'>
					<input type="submit" value='Send'>
				</div>
			</div>
		</fieldset>	
	</form>
</div>	
